body,
input,
select,
textarea,
button {
    font-family: "Heebo", Arial, Helvetica, sans-serif;
}

header>div>a {
    font-size: 1.2em;
}

header>div>a,
header>div>ul>li>a,
section[list]>ul>li>b,
aside[groups]>ul>li>b,
input[type="submit"],
button,
section[list]>ul>li>div>span[status] {
    font-weight: 500;
}

header>div>a,
header>div>ul {
    display: inline-table;
}

header>div>ul {
    float: right;
}

header>div>ul>li>a,
section[list]>ul>li>b,
aside[groups]>ul>li>b,
section[list]>ul>li>div>span[status],
input[type="submit"],
button {
    font-size: .8em;
    text-transform: uppercase;
}

header>div,
main>div:not([divider]),
main>div[divider]>div,
footer>div {
    max-width: 990px;
    margin: 0 auto;
    padding: 1rem 0;
}

header>div>ul>li>a>span[icon],
section[list]>ul>li>div>span[icon] {
    position: relative;
    margin: -.3rem 0 0 0;
    top: .4rem;
}

section[list]>ul>li>div>span[icon] {
    font-size: 1em;
    top: .2rem;
    cursor: pointer;
    margin: -.3rem .4rem 0;
}

aside[groups]>ul>li>div>span[icon] {
    font-size: 1em;
    top: .7rem;
    cursor: pointer;
    margin: -.3rem .4rem 0;
    position: relative;
}

header {
    padding: .2rem 0;
}

header,
div[divider],
section[list]>ul>li,
aside[groups]>ul>li,
input,
select {
    border-bottom: 1px solid;
}

footer {
    border-top: 1px solid;
}

section[list],
div:not([divider])>aside {
    border: 1px solid;
    margin: 1rem 0;
}

section[list]>ul>li,
aside[groups]>ul>li {
    padding: .8rem;
    position: relative;
}

section[list]>ul>li>b,
section[list]>ul>li>span {
    display: block;
}

section[list]>ul>li>b,
aside[groups]>ul>li>b {
    display: block;
}

section[list]>ul>li>div,
aside[groups]>ul>li>div {
    float: right;
    margin: -1.9rem 0 0 0;
}

section[list]>ul>li>div>span {
    margin: 0 .4rem;
}

section[list]>ul>li>span {
    font-size: .7em;
}

label[type="toggle"] {
    border: 1px solid;
}

span[status],
section[list]>ul>li>section,
button,
input[type="submit"] {
    border-radius: 3px;
    padding: 0 .4rem;
}


label[type="toggle"],
label[type="toggle"]::after {
    border-radius: 10px;
}

input[type="checkbox"] {
    visibility: hidden;
    width: 0;
    height: 0;
}

footer>div>p {
    font-size: .8rem;
}

section[list]>ul>li>section,
aside[groups]>ul>li>section {
    padding: .8rem 1rem;
    margin: .3rem 0 0 0;
    display: none;
}

section[list]>ul>li>section>input[type="text"] {
    min-width: 320px;
}

label[type="toggle"],
label[type="toggle"]::after {
    transition: all .2s ease-in-out;
}

label[type="toggle"] {
    margin: 3px 0 0 15px;
}

label[type="toggle"] {
    width: 40px;
    height: 22px;
    display: inline-table;
    position: relative;
    margin: -.4rem .4rem 0;
    padding: 0;
    top: 4px;
    cursor: pointer;
}

label[type="toggle"]::after {
    content: "";
    display: block;
    padding: 0;
    width: 14px;
    height: 14px;
    margin: 3px 0 0 20px;
}

input:checked+label[type="toggle"]::after {
    margin: 3px 0 0 2px;
}

label[type="toggle"]:active::after {
    width: 25px;
}

section[list]>ul>li>section>input[type="submit"] {
    float: right;
    position: relative;
    top: 3px;
}

section[borderless] {
    margin: 0;
    border-bottom: 1px solid;
}

section[list]>ul>li>section[fill] {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 19px 10px;
    text-align: center;
    backdrop-filter: blur(5px);
}

section[list]>ul>li>section>select {
    min-width: 240px;
}

section[list]>ul>li[form],
aside[groups]>ul>li[form] {
    border: 0;
    padding: 0;
}

main>div:not([divider])>aside,
main>div:not([divider])>section {
    display: inline-table;
    vertical-align: top;
}

div:not([divider])>aside {
    width: 294px;
}

div:not([divider])>section {
    width: calc(100% - 300px);
}

aside[groups]>ul>li[status="0"] {
    opacity: .3;
}

header>div>ul>li {
    display: inline-table;
    padding: 0 0 0 30px;
}